<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Trang chủ</h1>
    <a
      href="#"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
      ><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a
    >
  </div>

  <div class="row">
    <div class="col-xl-9 col-lg-7">
      <app-index-post [posts]="posts"></app-index-post>
    </div>

    <div class="col-xl-3 col-lg-5">
      <app-index-side></app-index-side>
      <app-index-subreddits></app-index-subreddits>
    </div>


  </div>
</div>
